{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">

  <div class="text-center">
    <h1 style="font-family: 'Cookie', cursive;"><strong>
      <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaAZf_iJWtVI7z5IKVGgPjbuVHXOLlbT7eME7GVb2Jwez__SEM" width="60" height="60" alt="icon"></a>
    Insta</strong></h1>
  </div>
  <hr>
</div>
<br>
<br>
<br>
<div class=" container ">
<div class="row ">
    <!-- Empty div -->
    <div class="col-md-1 "></div>
    <div class="col-md-5 ">
      <img src=" " alt="Logo " style="width:50px; height:25px ">
</div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        <div class="panel-body">
          <a href="/accounts/register " class="forgot ">Don't have an account? SignUp here.</a>
        </div>
      </div>
</div>
        </div>

      </div>

    </div>

    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
